<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quiz Manager!{% endblock %}</title>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css'></link>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
            <a class="navbar-brand" href="{{path('main')}}">Quiz</a>
        {% endif %}
    

        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if is_granted('ROLE_ADMIN') %} 
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin')}}">Admin panel</a>
                </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item float-end">
                    <a class="nav-link" href="{{ path('results')}}">Results</a>
                </li>
                <li class="nav-item float-end">
                    <a class="nav-link" href="{{ path('app_logout')}}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item float-end">
                    <a class="nav-link" href="{{ path('register')}}">Register</a>
                </li>        
                {% endif %}
            </ul>
        
        </div>
        </nav>
            <div class='container'>
                {% block body %}{% endblock %}
            </div>
    </body>
</html>
